{% extends '_base.html' %}

{% block head %}
<title>C4G Laboratory</title>
{% endblock %}

{% block body %}
<div class="jumbotron p-3">
  <h2>
    <b>Laboratory</b>
    {% if session.get('admin') %}
    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalAdd">Add
      Laboratory</button>
    {% endif %}
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col md-12">
      {% with messages = get_flashed_messages(category_filter=['success']) %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% with errors = get_flashed_messages(category_filter=['error']) %}
      {% if errors %}
      {% for message in errors %}
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <table class="table table-bordered table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Institution</th>
          <th>Resources</th>
          {% if session.get('admin') %}
          <th>Actions</th>
          {% endif %}
        </tr>
        {% for row in laboratories %}
        <tr>
          <td class="text-center">{{ row.LaboratoryID }}</td>
          <td class="text-center">{{ row.Name }}</td>
          <td class="text-center">{{ row.Email }}</td>
          {% for inst in institutions %}
          {% if row.InstitutionID == inst.InstitutionID %}
          <td class="text-center">{{ inst.Name }}</td>
          {% endif %}
          {% endfor %}
          <td>
            <button class="btn btn-success btn-xs float-right ml-2" data-toggle="modal"
              data-target="#modalView{{ row.LaboratoryID }}">View</button>
          </td>
          {% if session.get('admin') %}
          <td>
            <button class="btn btn-danger btn-xs float-right ml-2" data-toggle="modal"
              data-target="#modalDelete{{ row.LaboratoryID }}">Delete</button>
            <button class="btn btn-warning btn-xs float-right ml-2" data-toggle="modal"
              data-target="#modalEdit{{ row.LaboratoryID }}">Edit</button>
            <button class="btn btn-success btn-xs float-right ml-2" data-toggle="modal"
              data-target="#modalAllocate{{ row.LaboratoryID }}">Allocate Resource</button>
          </td>
          {% endif %}
        </tr>
        <!-- Modal View -->
        <div id="modalView{{ row.LaboratoryID }}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Resources</h4>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  {% for alloc in allocations %}
                  {% if row.LaboratoryID == alloc.LaboratoryID %}
                  <li class="list-group-item">
                    <ul class="list-group">
                      <li class="list-group-item text-center"><strong>{{ alloc.Name }}</strong></li>
                      <li class="list-group-item text-center">{{ alloc.Quantity }}</li>
                      {% if session.get('admin') %}
                      <li class="list-group-item text-center">
                        <form action="{{ url_for('laboratory') }}" method="POST">
                          <input type="hidden" name="method" value="deallocate">
                          <input type="hidden" name="id" value="{{ alloc.LaboratoryID }}">
                          <input type="hidden" name="allocation" value="{{ alloc.ResourceID }}">
                          <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                      </li>
                      {% endif %}
                    </ul>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Allocate -->
        <form action="{{ url_for('laboratory') }}" method="POST">
          <div id="modalAllocate{{ row.LaboratoryID }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Allocate Resource</h4>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="method" value="allocate">
                  <input type="hidden" name="id" value="{{ row.LaboratoryID }}">
                  <div class="form-group">
                    <label>Quantity:</label>
                    <input type="number" class="form-control" name="quantity" required="1">
                  </div>
                  <div class="form-group">
                    <label>Resource:</label>
                    <div class="input-group">
                      <select class="custom-select" name="allocation" required>
                        <option disabled>Select resource...</option>
                        {% for row in resources %}
                        <option value="{{ row.ResourceID }}">{{ row.Name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success float-right" type="submit">Allocate</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Modal Edit -->
        <form action="{{ url_for('laboratory') }}" method="POST">
          <div id="modalEdit{{ row.LaboratoryID }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Laboratory</h4>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="method" value="update">
                  <input type="hidden" name="id" value="{{ row.LaboratoryID }}">
                  <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" required="1">
                  </div>
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" required="1">
                  </div>
                  <div class="form-group">
                    <label>Institution:</label>
                    <div class="input-group">
                      <select class="custom-select" name="institution" required>
                        <option disabled>Select institution...</option>
                        {% for row in institutions %}
                        <option value="{{ row.InstitutionID }}">{{ row.Name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">Update</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Modal Delete -->
        <form action="{{ url_for('laboratory') }}" method="POST">
          <div id="modalDelete{{ row.LaboratoryID }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Laboratory</h4>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="method" value="delete">
                  <input type="hidden" name="id" value="{{ row.LaboratoryID }}">
                  <div class="form-group">
                    <label>Are you sure you want to delete?</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger float-right" type="submit">Delete</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        {% endfor %}
      </table>
      <!-- Modal Add -->
      <form action="{{ url_for('laboratory') }}" method="POST">
        <div id="modalAdd" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Laboratory</h4>
              </div>
              <div class="modal-body">
                <input type="hidden" name="method" value="add">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
                </div>
                <div class="form-group">
                  <label>Email:</label>
                  <input type="email" class="form-control" name="email" required="1">
                </div>
                <div class="form-group">
                  <label>Institution:</label>
                  <div class="input-group">
                    <select class="custom-select" name="institution" required>
                      <option disabled>Select institution...</option>
                      {% for row in institutions %}
                      <option value="{{ row.InstitutionID }}">{{ row.Name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Add Laboratory</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
