{% extends '_base.html' %}

{% block head %}
<title>C4G Resource</title>
{% endblock %}

{% block body %}
<div class="jumbotron p-3">
  <h2>
    <b>Resource</b>
    {% if session.get('admin') %}
    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalAdd">Add
      Resource</button>
    {% endif %}
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col md-12">
      {% with messages = get_flashed_messages(category_filter=['success']) %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% with errors = get_flashed_messages(category_filter=['error']) %}
      {% if errors %}
      {% for message in errors %}
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <table class="table table-bordered table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          {% if session.get('admin') %}
          <th>Actions</th>
          {% endif %}
        </tr>
        {% for row in resources %}
        <tr>
          <td class="text-center">{{ row.ResourceID }}</td>
          <td class="text-center">{{ row.Name }}</td>
          <td class="text-center">{{ row.Description }}</td>
          {% if session.get('admin') %}
          <td>
            <button class="btn btn-danger btn-xs float-right ml-2" data-toggle="modal"
              data-target="#modalDelete{{ row.ResourceID }}">Delete</button>
            <button class="btn btn-warning btn-xs float-right" data-toggle="modal"
              data-target="#modalEdit{{ row.ResourceID }}">Edit</button>
          </td>
          {% endif %}
        </tr>
        <!-- Modal Edit -->
        <form action="{{ url_for('resource') }}" method="POST">
          <div id="modalEdit{{ row.ResourceID }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Resource</h4>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="method" value="update">
                  <input type="hidden" name="id" value="{{ row.ResourceID }}">
                  <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" required="1">
                  </div>
                  <div class="form-group">
                    <label>Description:</label>
                    <input type="test" class="form-control" name="description" required="1">
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">Update</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Modal Delete -->
        <form action="{{ url_for('resource') }}" method="POST">
          <div id="modalDelete{{ row.ResourceID }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Resource</h4>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="method" value="delete">
                  <input type="hidden" name="id" value="{{ row.ResourceID }}">
                  <div class="form-group">
                    <label>Are you sure you want to delete?</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger float-right" type="submit">Delete</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        {% endfor %}
      </table>
      <!-- Modal Add -->
      <form action="{{ url_for('resource') }}" method="POST">
        <div id="modalAdd" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Resource</h4>
              </div>
              <div class="modal-body">
                <input type="hidden" name="method" value="add">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
                </div>
                <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" name="description" required="1">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Add Resource</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
